name: Build Testing

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name : Checkout Repo
        uses: actions/checkout@v2
        
      - name : Install Python
        uses : actions/setup-python@v2
        with :
              python-version: 3.8

      - name : Install Dependencies
        run : |
              python -m pip install --upgrade pip
              pip install -r requirements.txt

      - name : Test Script
        run : |
              python data.py
